
table, td {
    border: 5px solid navy;
    border-collapse: collapse;
}

body{
background-color: lightblue;
}
body{
  color: 000080
}
p{
  font-family: 'Patrick Hand', cursive
}

a, a.choice:hover {
  color:yellow;
  font-family: 'Baloo Bhaijaan', cursive;
  font-size: 30px;
}
p {
    font-size: 30px;
}
h1{
  font-family: 'Pacifico', cursive;
}
p{
  font-family: 'Baloo Bhaijaan', cursive;
}
